{% extends "hello/twoColumnTemplate.html" %}

{% block title %}
    Auction - Browse Items
{% endblock %}

{% block content %}
  <h2>Browse Items</h2>
  {% for item in items %}
    <li style="width: calc(100% - 30px); max-width: 600px;">
      <a href="{% url 'itemDetail' pk=item.pk %}">{{ item.name }}</a> - £{{ item.price }}
    </li>
  {% empty %}
    No items found.
  {% endfor %}
{% endblock %}

{% block form %}
  <h3 style="margin-top: 35px;">Sort/Filter Menu</h3>
  <form method="POST" class="sortAndFilterByMenu">
    {% csrf_token %}
    {{ browseForm.as_p }}
    <hr color="black">
    <button type="submit" style="margin-bottom: 10px;">Apply</button>
  </form>
{% endblock %}
