{% extends "hello/twoColumnTemplate.html" %}

{% block title %}
    Auction - {{ item.name }}
{% endblock %}

{% block subHeader %}
  <h2>
    {{ item.name }}
  </h2> 
{% endblock %}

{% block leftContent %}
  <p class="summary" style="float: left;">
    <strong>Summary:</strong><br>
    Current Price: £{{ item.price }}<br>
    Postage Cost: £{{ item.postageCost }}<br>
    Bid Increment: £{{ item.bidIncrement }}<br>
    Condition: {{ item.get_condition_display }}<br>
    Ends at: {{ item.endDateTime|date:"M d Y, H:i" }}<br>
    Accepts Returns: {% if item.acceptReturns %}Yes{% else %}No{% endif %}    
  </p>
{% endblock %}

{% block rightContent %}
  <p class="summary" style="float: right;">
    <strong>Description:</strong><br>
    {{ item.description }} This is a very long item description that I created with going over the edge of the line as the main reason for it being a very long item description.
  </p>
{% endblock %}