{% extends "hello/layout.html" %}
{% block title %}
    Auction - {{ item.name }}
{% endblock %}
{% block content %}
  <h2>{{ item.name }}</h2>
  <p>Starting Price: £{{ item.price }}</p>
  <p>Postage Cost: £{{ item.postageCost }}</p>
  <p>Bid Increment: £{{ item.bidIncrement }}</p>
  <p>Condition: {{ item.get_condition_display }}</p>
  <p>End Date: {{ item.endDateTime }}</p>
  <p>Accepts Returns: {% if item.acceptReturns %}Yes{% else %}No{% endif %}</p>
  <p>Description: {{ item.description }}</p>
{% endblock %}