<!DOCTYPE html>
<html>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script>
$(document).ready(function() {
    // Get the current URL path
    var url = window.location.pathname;
    
    // Loop through each navbar item
    $('.navbarItem').each(function() {
        // Get the link's URL path
        var link = $(this).attr('href');
        
        // Check if the link's URL matches the current URL
        if (link === url) {
            // Add the navbarCurrent class to the link
            $(this).addClass('navbarCurrent');
        }
    });
});
</script>  

<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}"/>
</head>

<body>
<div class="navbar">
    <a href="{% url 'home' %}" id="home" class="navbarItem" style="margin-left: 0px;">Home</a>
    {% if request.user.pk %}
    <a href="{% url 'userBids' %}" id="myBids" class="navbarItem">My Bids</a>
    <a href="{% url 'userListings' pk=request.user.pk %}" id="myListings" class="navbarItem">My Listings</a>
    {% else %}
    <a href="{% url 'login' %}" id="myBids" class="navbarItem">My Bids</a>
    <a href="{% url 'login' %}" id="myListings" class="navbarItem">My Listings</a>
    {% endif %}
    <a href="{% url 'browse' %}" id="browse" class="navbarItem">Browse Items</a>
    <a href="{% url 'listAnItem' %}" id="listAnItem" class="navbarItem">List an Item</a>
    <a href="{% url 'about' %}" id="about" class="navbarItem">About</a>
</div>
   
<div>
    {% block loggedInAs %}
    {% endblock %}
</div>

<div class="centralContainer">
    {% block subheader %}
    {% endblock %}
</div>

<div class="centralContainer">
    {% block content %}
    {% endblock %}
</div>

{% block additionalContent %}
{% endblock %}

<hr/>
<footer style="color: rgb(224, 224, 224);">
    &copy; 2023
</footer>
</body>
</html>