{% extends "hello/layout.html" %}
{% block title %}
    Auction - List an Item
{% endblock %}

{% block loggedInAs %}
    {% if username %}
    <p style="color: rgb(224, 224, 224)">
        Logged in as {{ username }}. 
        <br>
        Balance: £{{balance}}
        <br>
        <a href="{% url 'logout' %}">Logout</a>
    </p>
    {% else %}
    <p style="color: rgb(224, 224, 224)">
        You are not logged in. 
        <br>
        <a href="{% url 'login' %}">Login</a>
    </p>
    {% endif %}
{% endblock %}

{% block subheader %}
    <h2 style="margin-top: -40px; margin-bottom: 0px;">List an Item</h2>
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="centralContainer">
            <button type="submit">List Item</button>
        </div>        
    </form>
{% endblock %}