{% extends "hello/layout.html" %}
{% block title %}
Auction - Login
{% endblock %}

{% block loggedInAs %}
    {% if username %}
    <p style="color: rgb(224, 224, 224)">
        Logged in as: {{ username }}.
    </p>
    {% else %}
    <p style="color: rgb(224, 224, 224)">
        You are not logged in. 
    </p>
    {% endif %}
{% endblock %}

{% block content %}
<form method="POST" class="login">
    {% csrf_token %}
    {{ form.as_p }}
    <hr color="black">
    <button type="submit" style="margin-bottom: 5px;">Login</button>
</form>
{% endblock %}