* {
    font-family: "Segoe UI";
    color: black;
}

.navbar {
    border: 2px solid black;
    border-radius: 40px;
    padding: 10px 20px;
    background-color: lightblue;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbarCurrent {
    font-weight: 700;
}

.navbarItem {
    margin-left: calc(0.2 * (100% - 700px));
    font-size: 24px;
}

@media (max-width: 750px) {
    .navbarItem {
        margin-left: 0;
    }
}

.centralContainer {
    display: flex;
    justify-content: center;
}

.leftContainer {
    float: left;
    width: calc(100% - 300px);
}

@media (max-width: 750px) {
    .leftContainer {
        max-width: 550px;
    }
}

.rightContainer {
    float: left;
    margin-left: 20px;
}

h2 {
    color: rgb(224, 224, 224);
}

h3 {
    color:rgb(224, 224, 224);
}

h4 {
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: lightblue;
    display: inline-block;
    margin-bottom: 10px;
}

.borderli {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: lightblue;
    font-size: 20px;
    margin-bottom: 10px;
    list-style-type: none;
}

.textBlock {
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: lightblue;
    line-height: 30px;
    margin: 0px 0px 0px 0px;
}

body {
    background: dimgray;
    font-size: 20px;
}

input {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: lightblue;
    font-size: 20px;
}

Textarea {
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: lightblue;
    width: 270px;
    height: 120px;
    font-size: 20px;
}

button[type="submit"] {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: lightblue;
    font-size: 20px;
}

button[type="submit"]:hover {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: lightblue;
    font-size: 20px;
    color: black;
    box-shadow: 0px 0px 10px yellow;
}

.sortAndFilterByMenu {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: lightblue;
    font-size: 20px;
    width: 250px;
}

table {
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: lightblue;
}

.login {
    text-align: center;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: lightblue;
}

.login li {
    font-size: 20px;
    font-weight: 600;
    color: red;
    list-style-type: none;
}

.message {
    font-weight: 600;
    color: blue;
}

input[name=message] {
    width: 80%;
}

.itemList {
    font-size: 20px;
}

.messageList th,td {
    text-align: left;
    padding-right: 15px;
}