* {
    font-family: "Segoe UI";
    color: black;
}

.navbar {
    border: 2px solid black;
    border-radius: 40px;
    padding: 10px 20px;
    background-color: lightblue;
    font-weight: 600;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbarBrand {
    font-size: 30px;
    font-weight: 600;
}

.navbarItem {
    margin-left: calc(0.2 * (100% - 700px));
    font-size: 24px;
}

@media (max-width: 750px) {
    .navbarItem {
        margin-left: 0;
    }
}

.bodyContent {
    padding: 5px;
}

h2 {
    color: rgb(224, 224, 224);
}

h3 {
    color:rgb(224, 224, 224);
}

h4 {
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: lightblue;
    display: inline-block;
    margin-bottom: 10px;
}

li {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: lightblue;
    font-size: 20px;
    margin-bottom: 10px;
}

.summary {
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: lightblue;
    line-height: 35px;
    display: inline-block;
    vertical-align: top;
    margin: 0px 0px 0px 0px
}

body {
    background: dimgray;
    font-size: 20px;
}

input {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: lightblue;
    font-size: 20px;
}

textarea {
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: lightblue;
}

button[type="submit"] {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: lightblue;
    font-size: 20px;
}

button[type="submit"]:hover {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: lightblue;
    font-size: 20px;
    box-shadow: 0px 0px 10px yellow;
    opacity: 1;
}

.sortAndFilterByMenu {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: lightblue;
    font-size: 20px;
    width: 250px;
}

.listContainer {
    float: left;
    width: calc(100% - 300px);
}

.formContainer {
    float: right;
    width: 280px;
}

table {
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: lightblue;
}

.message {
    font-weight: 600;
    color: blue;
}

input[name=message] {
    width: 80%;
}

.message_list th,td {
    text-align: left;
    padding-right: 15px;
}