{% extends "base/layout.html" %}

{% block title %}
Auction - Browse Items
{% endblock %}

{% block loggedInAs %}
    {% if username %}
    <p style="color: rgb(224, 224, 224)">
        Logged in as {{username}}. 
        <br>
        Balance: £{{balance}}
        <br>
        <a href="{% url 'logout' %}">Logout</a>
    </p>
    {% else %}
    <p style="color: rgb(224, 224, 224)">
        You are not logged in. 
        <br>
        <a href="{% url 'login' %}">Login</a>
    </p>
    {% endif %}
{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script>
  $(document).ready(function() {
    $('#collapse').click(function() {
      $('#sortAndFilterByMenu').slideToggle();
    });
  });
</script>

<div style="max-width: 800px; margin-top: -60px;">
  {% if results > 100 %}
  <h2>
    Showing {{minItem}}-{{maxItem}} of {{results}} Results <button id="collapse" style="color: rgb(224, 224, 224); background-color: dimgray; font-size: 18px; border: 0px;">Toggle →</button>
  </h2>
  {% else %}
  <h2>
    {{results}} Results <button id="collapse" style="color: rgb(224, 224, 224); background-color: dimgray; font-size: 18px; border: 0px;">Toggle →</button>
  </h2>
  {% endif %}
  {% for item in items %}
  {% include "base/card.html" %}
  {% empty %}
    <p style="color: rgb(224, 224, 224)">No items found.</p>
  {% endfor %}
</div>

<div id="sortAndFilterByMenu" class="rightContainer" style="width: 280px; margin-top: -60px;">
  <h3 style="margin: 35px 0px 20px 0px;">Menu</h3>
  <form method="POST" class="sortAndFilterByMenu">
    {% csrf_token %}
    {{browseForm.as_p}}
    <hr color="black">
    <button type="submit" style="margin-bottom: 10px;">Apply</button>
  </form>
</div>

<div style="clear: both;"></div>
{% endblock %}

{% block additionalContent %}
<br>
<div class="centralContainer">
  {% for page in pages %}
  {% if page == currentPage %}
  <li class="borderli" style="border-radius: 0; margin-right: 5px; font-weight: bold";>
    <a href="{% url 'browse' page=page %}">{{page}}</a>
  </li>
  {% else %}
  <li class="borderli" style="border-radius: 0; margin-right: 5px;">
    <a href="{% url 'browse' page=page %}?{{ searchParams }}">{{page}}</a>
  </li>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}