{% load static %}
<div class="textBlock" style="width: 400px; height: 220px; display: flex; align-items: center;">
    <div class="centralContainer" style="width: 400px; align-items: center;">
        <div class="leftContainer" style="width: 125px;  align-self: center; padding-left: 5px; margin-right: -5px">
            <img src="{{item.bidders}}" alt="thumbNail" style="width: 125px; display: flex;"/>
        </div>
        <div class="rightContainer" style="width: 250px; align-self: center;">
            <a href="{% url 'itemDetail' pk=item.pk %}">{{item.name}}</a>
            <br>
            £{{ item.price }}
            <br>
            {{ item.numBids }} bids
            <br>
            {{ item.condition }}
            <br>
            Listed by {{ item.seller.user.username }}
        </div>
    </div>
</div>