{% extends "base/layout.html" %}
{% load myTags %}

{% block title %}
Auction - {{item.name}}
{% endblock %}

{% block loggedInAs %}
  {% include "base/status.html" %}
{% endblock %}

{% block subheader %}
<h2 style="margin-top: -40px;">
  {{item.name}}
</h2> 
{% endblock %}

{% block content %}
<div class="leftContainer" style="max-width: 300px;">
  <p class="textBlock" style="max-width: 260px;">
    <strong>Summary:</strong><br>
    Sale Price: £{{item.price}}<br>
    Postage Cost: £{{item.postageCost}}<br>
    Bid Increment: £{{item.bidIncrement}}<br>
    Condition: {{item.get_condition_display}}<br>
    Ended at: {{item.endDateTime|date:"M d Y, H:i"}}<br>
    Accepts Returns: {% if item.acceptReturns %}Yes{% else %}No{% endif %}<br>
    Bids: {{item.numBids}}<br>
    {% idToUsername item.seller_id as sellerUsername %}
    {% if sellerUsername != username %}
      Seller: <a href="{% url 'userListings' pk=item.seller_id %}">{{sellerUsername}}</a>   
    {% else %}
      Seller: You
    {% endif %}
  </p>
</div>

<div class="rightContainer" style="max-width: 50vw;">
  <p class="textBlock">
    <strong>Description:</strong><br>
    <span style="white-space: pre-line;">{{item.description}}</span>
  </p>
</div>

<div style="clear: both;"></div>
{% endblock %}