{% extends "base/layout.html" %}
{% load myTags %}

{% block title %}
Auction - {{item.name}}
{% endblock %}

{% block loggedInAs %}
  {% include "base/status.html" %}
{% endblock %}

{% block subheader %}
<h2 style="margin-top: -40px;">
  {{item.name}}
</h2> 
{% endblock %}

{% block content %}
<div class="leftContainer" style="max-width: 300px;">
  {% numToMoney item.price as currentPrice %}
  {% if active %}
    <p class="textBlock" style="max-width: 245px; line-height: 30px; padding: 10px 20px; margin: 0px 0px 0px 0px;">
      <strong>Summary:</strong><br>
      Current Price: £{{currentPrice}}<br>
      Postage Cost: £{{item.postageCost}}<br>
      Bid Increment: £{{item.bidIncrement}}<br>
      Condition: {{item.get_condition_display}}<br>
      End: {{item.endDateTime|date:"M d Y, H:i"}}<br>
      Accepts Returns: {% if item.acceptReturns %}Yes{% else %}No{% endif %}<br>
      Bids: {{item.numBids}}<br>
      {% idToUsername item.seller_id as sellerUsername %}
      {% if sellerUsername != username %}
        Seller: <a href="{% url 'userListings' pk=item.seller_id %}">{{sellerUsername}}</a>   
      {% else %}
        Seller: You
      {% endif %}
    </p>
  {% else %}
    <p class="textBlock" style="max-width: 260px; line-height: 30px; padding: 10px 20px; margin: 0px 0px 0px 0px;">
      <strong>Summary:</strong><br>
      Sale Price: £{{currentPrice}}<br>
      Postage Cost: £{{item.postageCost}}<br>
      Bid Increment: £{{item.bidIncrement}}<br>
      Condition: {{item.get_condition_display}}<br>
      End: {{item.endDateTime|date:"M d Y, H:i"}}<br>
      Accepts Returns: {% if item.acceptReturns %}Yes{% else %}No{% endif %}<br>
      Bids: {{item.numBids}}<br>
      {% idToUsername item.seller_id as sellerUsername %}
      {% if sellerUsername != username %}
        Seller: <a href="{% url 'userListings' pk=item.seller_id %}">{{sellerUsername}}</a>   
      {% else %}
        Seller: You
      {% endif %}
    </p>
  {% endif %}
</div>

<div class="rightContainer" style="max-width: 50vw;">
  <p class="textBlock" style="line-height: 30px; padding: 10px 20px; margin: 0px 0px 0px 0px;">
    <strong style="margin-top: 0px;">Description:</strong><br>
    <span style="white-space: pre-line;">{{item.description}}</span>
  </p>
</div>

<div style="clear: both;"></div>
{% endblock %}

{% block additionalContent %}
{% if active %}
<div class="centralContainer">
  <form method="POST" class="submitBid">
    {% csrf_token %}
    {{bidForm.as_p}}
    <button type="submit">Submit Bid</button>
    <br>
    <strong style="color: rgb(224, 224, 224); text-align: center;">{{message}}</strong>
  </form>  
</div>
{% else %}
<br>
{% endif %}
<div class="centralContainer" style="margin-top: 5px">
  <img src="{{imgUrl}}" alt="Image" style="width: 600px;"/>
</div>
<br>
{% endblock %}