{% extends "base/layout.html" %}
{% load myTags %}
{% block title %}
    Auction - My Listings
{% endblock %}

{% block loggedInAs %}
    {% if username %}
    <p style="color: rgb(224, 224, 224)">
        Logged in as {{username}}. 
        <br>
        Balance: £{{balance}}
        <br>
        <a href="{% url 'logout' %}">Logout</a>
    </p>
    {% else %}
    <p style="color: rgb(224, 224, 224)">
        You are not logged in. 
        <br>
        <a href="{% url 'login' %}">Login</a>
    </p>
    {% endif %}
{% endblock %}

{% block subheader %}
<h2 style="margin-top: -40px;">Active Listings</h2>
{% endblock %}

{% block content %}
    <table>
    {% if myCurrentItems %}
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>P&P</th>
            <th>Bid Inc.</th>
            <th>Condition</th>
            <th>End</th>
            <th>Returns?</th>
            <th>Bids</th>
            {% if you %}
                <th>Top Bidder</th>
            {% endif %}
            <th>Seller</th>
        </tr>
        </thead>
    {% endif %}
        {% for item in myCurrentItems %}
            <tbody>
                <tr>
                    <td class="limitedRow"><a href="{% url 'itemDetail' pk=item.pk %}">{{item.name}}</a></td>
                    <td>{{item.price}}</td>
                    <td>{{item.postageCost}}</td>
                    <td>{{item.bidIncrement}}</td>
                    <td>{{item.condition}}</td>
                    <td>{{item.endDateTime|date:"M d Y, H:i"}}</td>
                    {% if item.acceptReturns %}
                        <td>Yes</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                    <td>{{item.numBids}}</td>
                    {% if you %}
                        {% if item.buyer %}
                            <td><a href="{% url 'userListings' pk=item.buyer %}">{% idToUsername item.buyer_id %}</a></td>
                        {% else %}
                            <td>None</td>
                        {% endif %}
                    {% endif %}
                    {% if you %}
                        <td>You</td>
                    {% else %}
                        <td><a href="{% url 'userListings' pk=item.seller %}">{% idToUsername item.seller_id %}</a></td>
                    {% endif %}
                </tr>
            </tbody>
        {% empty %}
            <p style="color: rgb(224, 224, 224)">No Active Listings.</p>
        {% endfor %}
    </table>
{% endblock %}

{% block additionalContent %}
<div class="centralContainer">
    <h2>Inactive Listings</h2>
</div>
<div class="centralContainer">
    <table>
        {% if myOldItems %}
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>P&P</th>
                <th>Bid Inc.</th>
                <th>Condition</th>
                <th>End</th>
                <th>Returns?</th>
                <th>Bids</th>
                <th>Sold?</th>
                {% if you %}
                    <th>Buyer</th>
                {% endif %}
                <th>Seller</th>
                {% if you %}
                    <th>Destination</th>
                {% endif %}
            </tr>
            </thead>
        {% endif %}
    
        {% for item in myOldItems %}
            <tbody>
                <tr>
                    <td class="limitedRow"><a href="{% url 'endedItemDetail' pk=item.pk %}">{{item.name}}</a></td>
                    <td>{{item.price}}</td>
                    <td>{{item.postageCost}}</td>
                    <td>{{item.bidIncrement}}</td>
                    <td>{{item.condition}}</td>
                    <td>{{item.endDateTime|date:"M d Y, H:i"}}</td>
                    {% if item.acceptReturns %}
                        <td>Yes</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                    <td>{{item.numBids}}</td>
                    {% if item.sold %}
                        <td>Yes</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                    {% if you %}
                        {% if item.buyer %}
                            <td><a href="{% url 'userListings' pk=item.buyer %}">{% idToUsername item.buyer_id %}</a></td>
                        {% else %}
                            <td>None</td>
                        {% endif %}
                    {% endif %}
                    {% if you %}
                        <td>You</td>
                        <td>{{item.destinationAddress}}</td>
                    {% else %}
                        <td><a href="{% url 'userListings' pk=item.seller %}">{% idToUsername item.seller_id %}</a></td>
                    {% endif %}
                </tr>
            </tbody>
        {% empty %}
            <p style="color: rgb(224, 224, 224)">No Inactive Listings.</p>
        {% endfor %}
    </table>
</div>
{% endblock %}