{% extends "base/layout.html" %}
{% load myTags %}
{% block title %}
    Auction - My Listings
{% endblock %}

{% block loggedInAs %}
    {% if username %}
    <p style="color: rgb(224, 224, 224)">
        Logged in as {{username}}. 
        <br>
        Balance: £{{balance}}
        <br>
        <a href="{% url 'logout' %}">Logout</a>
    </p>
    {% else %}
    <p style="color: rgb(224, 224, 224)">
        You are not logged in. 
        <br>
        <a href="{% url 'login' %}">Login</a>
    </p>
    {% endif %}
{% endblock %}

{% block subheader %}
<h2 style="margin-top: -40px;">Active Bids</h2>
{% endblock %}

{% block content %}
    <table>
    {% if myCurrentItems %}
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>P&P</th>
            <th>Bid Inc.</th>
            <th>Condition</th>
            <th>End</th>
            <th>Returns?</th>
            <th>Bids</th>
            <th>Top Bidder</th>
            <th>Seller</th>
        </tr>
        </thead>
    {% endif %}
        <tbody>
            {% for item in myCurrentItems %}
                <tr>
                    <td class="limitedRow"><a href="{% url 'itemDetail' pk=item.pk %}">{{item.name}}</a></td>
                    <td>{{item.price}}</td>
                    <td>{{item.postageCost}}</td>
                    <td>{{item.bidIncrement}}</td>
                    <td>{{item.condition}}</td>
                    <td>{{item.endDateTime|date:"M d Y, H:i"}}</td>
                    {% if item.acceptReturns %}
                        <td>Yes</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                    <td>{{item.numBids}}</td>
                    {% idToUsername item.buyer_id as buyerUsername %}
                    {% if buyerUsername != username %}
                        <td>Not You</a></td>
                    {% else %}
                        <td>You</td>
                    {% endif %}
                    <td><a href="{% url 'userListings' pk=item.seller %}">{% idToUsername item.seller_id %}</a></td>
                </tr>
            {% empty %}
                <p style="color: rgb(224, 224, 224)">No Active Bids.</p>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block additionalContent %}
<div class="centralContainer">
    <h2>Inactive Bids</h2>
</div>
<div class="centralContainer">
    <table>
    {% if myOldItems %}
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>P&P</th>
            <th>Bid Inc.</th>
            <th>Condition</th>
            <th>End</th>
            <th>Returns?</th>
            <th>Bids</th>
            <th>Sold?</th>
            <th>Buyer</th>
            <th>Seller</th>
        </tr>
        </thead>
    {% endif %}
        <tbody>
        {% for item in myOldItems %}
            <tr>
                <td class="limitedRow"><a href="{% url 'endedItemDetail' pk=item.pk %}">{{item.name}}</a></td>
                <td>{{item.price}}</td>
                <td>{{item.postageCost}}</td>
                <td>{{item.bidIncrement}}</td>
                <td>{{item.condition}}</td>
                <td>{{item.endDateTime|date:"M d Y, H:i"}}</td>
                {% if item.acceptReturns %}
                    <td>Yes</td>
                {% else %}
                    <td>No</td>
                {% endif %}
                <td>{{item.numBids}}</td>
                {% if item.sold %}
                    <td>Yes</td>
                {% else %}
                    <td>No</td>
                {% endif %}
                {% if item.buyer_id %}
                    {% idToUsername item.buyer_id as buyerUsername %}
                    {% if buyerUsername != username %}
                        <td>Not You</a></td>
                    {% else %}
                        <td>You</td>
                    {% endif %}
                {% else %}
                    <td>None</td>
                {% endif %}
                <td><a href="{% url 'userListings' pk=item.seller %}">{% idToUsername item.seller_id %}</a></td>
            </tr>
        {% empty %}
            <p style="color: rgb(224, 224, 224)">No Inactive Bids.</p>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}